
@{
    ViewData["Title"] = "PersonalInformation";
}
@model OnlineDatingSite.Models.SInformationModel;
@{ 
    List<Data> DataList = ViewBag.DataList;
}
<!DOCTYPE html>
<html>
<br>
<br>
<br>
<head>
    <h1 style="text-align: center;font-size:60px;">個人資訊</h1>
    <br>
    <style>

        table {
            border-spacing: 20px;
            border: 1px solid black;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        tr, td {
            border: 1px solid black;
        }
        td {
            width: 100px;
            height: 30px;
        }
    </style>
</head>


<body>
    <form action="\Website\AlterInformation" style="text-align: center;">

        @foreach (Data data in DataList)
        {
            <img src="~/image/@data.personalphoto"alt="@data.personalphoto" height="180" width="178"><br><br>
            
            <table class="center">
                <tr>
                    <td><label for="name"> 姓名</label></td>
                    <td><label>@data.name</label></td>
                </tr>
                <tr>
                    <td><label for="nickname">暱稱</label></td>
                    <td><label>@data.nickname</label></td>
                </tr>
                <tr>
                    <td><label for="sex">性別</label></td>
                    <td><label>@data.sex</label></td>
                </tr>
                <tr>
                    <td><label for="address">居住地</label></td>
                    <td><label>@data.address</label></td>
                </tr>
                <tr>
                    <td><label for="birth">生日</label></td>
                    <td><label>@data.birth</label></td>
                </tr>
                <tr>
                    <td><label for="email">信箱</label></td>
                    <td><label>@data.email</label></td>
                </tr>
                <tr>
                    <td><label for="job">工作</label></td>
                    <td><label>@data.job</label></td>
                </tr>
                <tr>
                    <td><label for="interest">興趣</label></td>
                    <td><label>@data.interest</label></td>
                </tr>
                <tr>
                    <td><label for="resume">簡述</label></td>
                    <td width="50"><lable>@data.resume</lable></td>
                </tr>
            </table><br><br>
        }

        <input type="submit" value="修改個人資料">

    </form>

</body>
</html>

